# Node
node_modules/
npm-debug.log
yarn-error.log
.pnp*
.pnp.js

# Next.js
.next/
out/
build/

# Turbo
.turbo/

# Log files
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ephemeral/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
